<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="">
<img src="https://avatars.githubusercontent.com/u/99850729?s=400&u=99e6ede55d8c9ee9eae473b7f70c91a5917dcbad&v=4" alt="foto do programador">
<h1>Emanuel Santos Souza de Jesus</h1>
<p>Como a neve no verão, como a chuva a cegas assim é a hora aos olhos do tolo</p>
<p><a href="emanuelsantoss42@gmail.com">emanuelsantoss42</a></p>


</ion-content>
