<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pedi">
  <ion-searchbar placeholder="Buscar" autocomplete="honorific-prefix"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Capa do filme Avata: O caminho da água"
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/tnmdUnztAYbfJ0jhjpN6oxwP2sb.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Avatar: O Caminho da Água (2022)</h1>
          <p>15/12/2022 (BR) - 3h 12m</p>
          <p> Ficção científica, Ação, Aventura</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>83%</ion-label>
      </ion-chip>
    </ion-item>


 </ion-list>
